/* registration form customization */
.container{
    margin-top:5%;
    margin-bottom: 10%;
}

.card{
    width: 100%;
}

.card-header{
    color: #ffff;
    background-color: #007bff;;
}

.card-content{
    padding: 25px;
}

.align-center{
    text-align: center;
}