/* Customize login form to fit the centre horizontally and vertically */
body{
    margin: auto 0px;
}

.container {
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    margin-top: 6.5%;
}

.card-header, .card-footer{
    color: #000000;
    text-align: center;
    background-color: #51EAEA;
}

.btn-color{
    background-color:#51EAEA;
}

.fnt-color{
    color: #000000;
}

.card-content{
    padding: 25px;
}

.align-center{
    text-align: center;
}

/* responsiveness */
@media only screen and (max-width: 599px){
    .card{
        width: 70%;
        }
    .container{
        margin-top: 20%;
        height: 50%
    }
}

@media only screen and (min-width: 600px){
    .card{
        width: 45%;
        }
    .container{
        margin-top: 7%;
        height:50%
    }
}
