/* header */
.custom-header{
    border: 5px;
    height: 75px;
    background-color: #007bff;
    text-align: center;
    font-size: 2.4em;
    color: #000000;
}
/* footer */
.custom-footer{
    border: 4px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #007bff;
    text-align: center;
    color: #000000;
}
.black{
   color: #000000;
}