{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom CSS-->
    <link rel="stylesheet" href="{% static 'css/header-footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/new-donation-request.css' %}">
    <title>Book Appointment</title>
  </head>
  <body>

	<!--Please see Reference: [3][4] in README.txt in README.txt -->
    <!-- navbar -->
        <nav class="navbar fixed-top navbar-dark navbar-expand-sm bg-primary" id="navbar">
        <a class="navbar-brand" href="{% url 'donor-landing-page' %}">We Donate</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTop">
        <ul class="navbar-nav mr-auto">
             <li class="nav-item">
                <a class="nav-link" href="{% url 'donor-landing-page' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'donor-home' %}">Donation history</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'book-appointment' %}">Book an appointment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'new-donation-request'  %}">New donation request</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <!-- Dropdown -->
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Settings
                </a>
                <div class="dropdown-menu custom-dropdown">
                    <a class="dropdown-item" href="{% url 'donor-profile-update' %}">User profile</a>
                    <a class="dropdown-item" href="{% url 'donor-profile-update' %}">Change password</a>
                    <a class="dropdown-item" href="{% url 'donor-logout' %}">Log out</a>
                </div>
            </li>
        </ul>
    </div>
    </nav>
    <!-- donation request form--><!--Please see Reference: [4] in README.txt -->
    <div class="container">
        <div class="row justify-content-center">
        <div class="col-md-6">
        <div class="card">
        <header class="card-header bg-light mb-3">
            <h4 class="card-title bg-light mb-3">New Appointment request</h4>
        </header>
        <div class="card-content">
        <form method="POST" enctype="multipart/form-data" action="{% url 'book-appointment' %}">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-12">
                        <label class="control-label" for="don-id">Donation ID</label>
                        <select id="hospital-name" name="dreq" class="form-control">
                            <option value="None" selected>None</option>
                            {% for donor in donors %}
                            <option value="{{donor.id}}">{{donor.id}}</option>
                            {% endfor %}
                        </select>
                </div>
            </div>
            <div class="form-row">
            <div class="form-group col-md-12">
                    <label class="control-label" for="hospital-name">Hospital name</label>
                    <select id="hospital-name" name="hospital-name" class="form-control">
                        <option value="None" selected>None</option>
                        {% for user in users %}
                        <option value="{{user.hospital_name}}">{{user.hospital_name}}</option>
                        {% endfor %}
                    </select>
            </div>
            </div>
            <div class="form-row">
                    <div class="form-group col-md-12">
                            <label class="control-label" for="appointmentstatus">Appointment date</label>
                            <input type="date" id="start" name="date"
                            value="2019-04-02"
                                        min="2019-04-02" max="2020-12-31">
                    </div>
                    </div>
            <div class="form-row">
                    <div class="form-group col-md-12">
                            <label class="control-label" for="time">Preferred Time</label>
                                    <select id="time" name="time" class="form-control">
										<option value="time0">Select preferred time</option>
                                        <option value="8:00 to 9:00">8:00 to 9:00</option>
                                        <option value="9:00 to 10:00">9:00 to 10:00</option>
                                        <option value="10:00 to 1:00">10:00 to 11:00</option>
                                        <option value="10:00 to 1:00">12:00 to 13:00</option>
                                        <option value="10:00 to 1:00">13:00 to 14:00</option>
                                        <option value="10:00 to 1:00">14:00 to 15:00</option>
                                        <option value="10:00 to 1:00">15:00 to 16:00</option>
                                        <option value="10:00 to 1:00">16:00 to 17:00</option>
                                        <option value="10:00 to 1:00">17:00 to 18:00</option>
                                        <option value="10:00 to 1:00">18:00 to 19:00</option>
                                    </select>
                    </div>
                    </div>


            <div class="form-group">
                <button type="submit" id="submit" class="btn btn-info btn-block"> Book </button>
            </div>

        </form>
        </div>
        </div>
        </div>
        </div>
    </div>


    <footer class="custom-footer bg-primary">
       Copyright &copy; 2019. We donate Inc. All rights reserved. | <a href= "#">About us | </a> <a href= "#">Contact us. </a>
    </footer>
		<script src="{% static 'js/new-donation-request.js' %}"></script>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="js/bootstrap-filestyle.min.js"> </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>
</html>
