{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom CSS-->
    <link rel="stylesheet" href="{% static 'css/custom-stylesheet-login.css' %}">
    <link rel="stylesheet" href="{% static 'css/header-footer.css' %}">
    <title>Hospital Forget Password</title>
  </head>
  <body>
    <!-- Hospital Forget Password-->
    <header class="custom-header">
        Hospital Forget Password
    </header>
    <div class = "container">
    <div class="card">
        <div class="card-header"><b>Hospital Forget Password</b></div>
            <div class="card-content">
                <form>
                    <div class="form-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <label for="email-id">Email-id:</label>
                        <input type="email" class="form-control increase-width" id="email-id" required autofocus>
                    </div>
                    <div class="form-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd" required>                    
                    </div>
                    <div class="form-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <label for="retypepwd">Retype Password:</label>
                        <input type="password" class="form-control" id="retypepwd" required>                    
                    </div>
                    <div class="form-group align-center">
                        <button type="submit" class="btn btn-primary form-control">Change Password</button>
                    </div>
                </form>
            </div>  
    </div>
</div>

<footer class="custom-footer">
        Copyrights reserved.
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>