{% extends "hospital-main-page.html" %}
{% block home %}

   <!-- Tab content for the Action item page starts -->
    <div id="home" class="tab-pane active">
      <div class = "flex_container">
      <div class = "top summary"><h3>Summary of action items</h3></div>
      <div class = "card_container top">
      <div class = "zone blue text-size" id = "appointDiv"> <p>You have 8 appointments to approve. Click on the card to proceed.</p> </div>
      <div class = "zone blue text-size" id = "donationsDiv"> <p>You have 3 donations to approve. Click on the card to proceed.</p> </div>
      </div>
    </div>
</div>
{% endblock %}
