<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Organ Donation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Canadian Government Initiative">
    <meta name="author" content="Hemant Singh">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/fontawesome.min.css">
    <script src="./js/all.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <div id="focuspoint">
                <h1>
                    <i class="fa fa-heartbeat"></i>
                    <span class="highlight">Organ Donation Management</span>
                </h1>
            </div>
            <nav>
                <ul>
                    <li class="current"><a href="index.html">Home</a></li>
                    <li><a href="donorForgetPassword.html">Donor Forget Password</a></li>
                    <li><a href="hospitalForgetPassword.html">Hopital Forget Password</a></li>
                    <li><a href="donorProfile.html">Donor Profile</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div id="container-background">
        <section id="midsection">
            <div class="container">
                <h1>Donate Organ to Live forever</h1>
            </div>     
        </section>
        <section id="boxes">
                <div class="container">
                    <div class="box">
                        <a href="donorProfile.html">
                        <i class="fa fa-user-friends fa-5x"></i>
                        <h3>Donor</h3></a>
                    </div>
                    <div class="box">
                        <a href="">
                        <i class="fa fa-hospital fa-5x"></i>
                        <h3>Hopital</h3></a>
                    </div>
                </div> 
        </section>
    </div>
    <footer>
        <p>Organ Donation Management, Copyright &copy; 2019 | Powered By HTML5 | CSS3</p>
    </footer>
</body>
</html>